*{

    font-size:100%;
    margin:0;
    padding:0;
}

*,*::before,*::after{
    box-sizing:inherit;
}

body{
    background-color: $DarkCyan;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight:400;
    color: $DarkGrayishBlue;
    font-size:13px;
}

.big-container{
    display:flex;
    align-items: center;
    justify-content:center;
    height:100vh;
    background-image: url(/images/bg-pattern-bottom.svg),url(/images/bg-pattern-top.svg);
    background-repeat:no-repeat;
    background-position: left 45vw top 44vh,right 48vw bottom 40vh;
    
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(0, 0%, 100%); }

